<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rooms</title>
    <link rel="stylesheet" href="/styles/output.css">
    <style>
        .background-container {
            position: relative;
            width: 100%;
            height: 100vh;
        }
        
        .background-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }
    </style>
</head>
<body class="bg-white text-black min-h-[100vh] w-full flex flex-col">
    <div class="background-container">
        <img src="images/room.jpg" alt="banner">
        <div class="overlay"></div>
    </div>

    <nav class="bg-red-500 absolute z-10 w-full flex items-center justify-between p-3 text-3xl text-white font-semibold">
        <h1>Chatify</h1>
        <ul class="flex gap-4 pl-4 text-xl">
            <li>Join us</li>
            <li>Chat Rooms</li>
        </ul>
    </nav>
    <form action="/room/create" method="post" class="absolute top-[8vh] flex gap-2 flex-col mt-2 self-center backdrop-blur-sm border-2 z-10 shadow-zinc-500 p-6 rounded-lg shadow-md max-w-md w-full">
        <input type="text" class="p-3 bg-white text-zinc-900 rounded-md mb-1 outline-none focus:ring-2 focus:ring-red-500  placeholder:text-zinc-900" placeholder="enter room title" name="name">
        <input type="text" class="p-3 bg-white text-zinc-900 rounded-md mb-1 outline-none focus:ring-2 focus:ring-red-500  placeholder:text-zinc-900" placeholder="enter room topic" name="topic">
        <button type="submit" class="bg-red-500 text-white font-semibold p-3 rounded-md text-lg hover:bg-red-600 transition duration-300 ease-in-out">Create Room</button>
    </form>
    <div class="flex-wrap absolute top-[45vh] border-2 backdrop-blur-sm rounded-md left-[2vw] flex items-center justify-center z-10 gap-4 mt-4  p-0 pt-0">
        <% if (rooms.length === 0) { %>
            <h2 class="self-center text-3xl text-white m-4 w-full text-center font-semibold">No rooms avaliable</h2>
        <% } %>

        <% if (rooms.length) { %>
            <h2 class="self-center text-3xl text-white bg-red-500 w-full text-center font-semibold">avaliable rooms</h2>
            <% rooms.forEach((room) => { %>
                <div class="flex flex-col gap-2 mb-3 bg-zinc-100 rounded-sm p-4 shadow-md shadow-zinc-900">
                    <h3 class="text-2xl text-zinc-800"><%= room.name %></h3>
                    <p class="text-base text-zinc-950"><%= room.topic %></p>
                    <a href="/room/join/<%= room._id %>">
                        <button class="bg-red-500 text-white font-semibold p-3 rounded-md text-sm hover:bg-red-600 transition duration-300 ease-in-out">Join room</button>
                    </a>
                    <a href="/room/delete/<%= room._id %>">
                        <button class="bg-red-500 text-white font-semibold p-3 rounded-md text-sm hover:bg-red-600 transition duration-300 ease-in-out">delete room</button>
                    </a>
                </div>
            <% }) %>
            
        <% } %>
    </div>
</body>
</html>